# dependencies
node_modules

# build output
dist
tmp
out-tsc

# Nx
.nx/cache
.nx/workspace-data

# environment
.env
.env.local

# editors
.idea
.claude

# OS
.DS_Store
Thumbs.db

# logs
npm-debug.log*
